# Web framework
flask
gunicorn
flask-limiter
flasgger
prometheus-client

# Data fetching
requests
pillow
pytz
herbie-data
toml

# Scientific/GRIB processing
numpy
xarray
cfgrib
scipy
cartopy
geopandas
shapely
filelock
psutil
rasterio
rioxarray
rio-tiler
mercantile
rio-cogeo
